@using MusicDating.Models.ViewModels;
@model UserInstrumentVm

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm("Index", "Users", FormMethod.Post))
{
<div class="form-group">
    <select asp-for="InstrumentName" class ="form-control" asp-items="Model.Instruments" onchange="this.form.submit()">
        <option value="">Select instrument</option>
    </select>
</div>
}


<div class="container">
    <div class="row">
@foreach (var item in Model.UserInstruments) {
        <div class="card col col-12 col-md-6">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title">
                        @item.ApplicationUser.FirstName @item.ApplicationUser.LastName
                    </h5>
                    <a href="#" class="btn btn-secondary">Vis profil</a>
                </div>
                <div class="card-text d-flex justify-content-between">
                    <h5 class="">@item.Instrument.Name)</h5>
                    <div class="">
                        <div>
                            <h6>Erfaring <span class="badge badge-primary">@Html.DisplayFor(modelItem => item.Level)</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>           
        }
    </div>       
</div>       
